<ion-view title="支付">
  <ion-content class="pay">
    <div class="msb-tabs pay-tabs">
      <div class="msb-tab-item" ng-class="{active: payInfo.index == 0}" ng-click="selectItem(0)">支付</div>
      <div class="msb-tab-item" ng-class="{active: payInfo.index == 1}" ng-click="selectItem(1)">投保详情</div>
    </div>
    <div ng-show="payInfo.index == 0">
      <div class="msb-subtitle">订单金额</div>
      <div class="pay-money">
        <span>全家安居({{insureInfo.productName}})</span>
        <span><span class="red">{{insureInfo.prodObjectData.BASEINFO.buyNum}}</span>份</span>
        <span>¥{{insureInfo.prodObjectData.BASEINFO.total}}</span>
      </div>
      <div class="msb-subtitle">支付方式</div>
      <div class="pay-method">
        <div class="method wechat">微信支付</div>
        <i class="icon ion-chevron-right"></i>
      </div>
      <div class="msb-subtitle">其他支付方式</div>
      <div class="pay-method">
        <div class="method union">银联支付</div>
        <i class="icon ion-chevron-right"></i>
      </div>
    </div>

    <div ng-show="payInfo.index == 1">
      <div class="msb-list with-border">
        <div class="msb-item-around product-info">
          <div class="msb-item">投保险种</div>
          <div class="msb-item type">全家安居({{insureInfo.productName}})</div>
          <div class="msb-item count">{{insureInfo.prodObjectData.BASEINFO.buyNum}}份</div>
        </div>
        <div class="msb-item-around">
          <div class="msb-item">保险起期</div>
          <div class="msb-item">{{insureInfo.prodObjectData.INSURANCEPERIOD.startDate | date:'yyyy-MM-dd'}}</div>
        </div>
        <div class="msb-item-around">
          <div class="msb-item">保险止期</div>
          <div class="msb-item">{{insureInfo.prodObjectData.INSURANCEPERIOD.endDate | date:'yyyy-MM-dd'}}</div>
        </div>
      </div>
      <div class="msb-subtitle">投保人</div>
      <div class="msb-list with-border">
        <div class="msb-item-around">
          <div class="msb-item">姓名</div>
          <div class="msb-item">{{insureInfo.prodObjectData.POLICYHOLDER.name}}</div>
        </div>
        <div class="msb-item-around">
          <div class="msb-item">身份证</div>
          <div class="msb-item">{{insureInfo.prodObjectData.POLICYHOLDER.certNo}}</div>
        </div>
        <div class="msb-item-around">
          <div class="msb-item">手机号</div>
          <div class="msb-item">{{insureInfo.prodObjectData.POLICYHOLDER.phoneNo}}</div>
        </div>
        <div class="msb-item-around">
          <div class="msb-item">邮箱</div>
          <div class="msb-item">{{insureInfo.prodObjectData.POLICYHOLDER.email}}</div>
        </div>
      </div>

      <div class="msb-subtitle applicant">
        <span>被保险人</span>
        <div>
          <span>同投保人</span>
          <label class="checkbox msb-checkbox-assertive msb-checkbox-medium" >
            <input type="checkbox" class="check" ng-checked="insureInfo.prodObjectData.POLICYHOLDER.certNo == insureInfo.prodObjectData.INSURED.certNo" disabled>
          </label>
        </div>
      </div>
      <div class="msb-list with-border" ng-show="insureInfo.prodObjectData.POLICYHOLDER.certNo != insureInfo.prodObjectData.INSURED.certNo">
        <div class="msb-item-around">
          <div class="msb-item">姓名</div>
          <div class="msb-item">{{insureInfo.prodObjectData.INSURED.name}}</div>
        </div>
        <div class="msb-item-around">
          <div class="msb-item">身份证</div>
          <div class="msb-item">{{insureInfo.prodObjectData.INSURED.certNo}}</div>
        </div>
        <div class="msb-item-around">
          <div class="msb-item">手机号</div>
          <div class="msb-item">{{insureInfo.prodObjectData.INSURED.phoneNo}}</div>
        </div>
        <div class="msb-item-around">
          <div class="msb-item">邮箱</div>
          <div class="msb-item">{{insureInfo.prodObjectData.INSURED.email}}</div>
        </div>
      </div>

      <div class="msb-list with-border">
        <div class="msb-item-around">
          <div class="msb-item"><span>财产地址</span></div>
          <div class="msb-item"><span>{{insureInfo.prodObjectData.ADDRESS.address}}</span></div>
        </div>
      </div>

      <div class="msb-subtitle">保障范围</div>
      <div class="msb-list with-border">
        <div class="msb-item-between" ng-repeat="coverage in insureInfo.prodObjectData.COVERAGE">
          <div class="msb-item">{{coverage.name}}</div>
          <div class="msb-item">{{coverage.sumInsured | unit}}</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>